<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.project.senior.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TimelineActivity"
            android:theme="@style/ThemeTimeline"
            />
        <activity
            android:name=".FriendsActivity"
            android:theme="@style/ThemeFriends"
            />
        <activity
            android:name=".ForumActivity"
            android:theme="@style/ThemeForum"
            />
        <activity
            android:name=".ReportsActivity"
            android:theme="@style/ThemeReports"
            />
        <activity
            android:name=".AnalyticsActivity"
            android:theme="@style/ThemeAnalytics"
            />
        <activity
            android:name=".MapActivity"
            android:theme="@style/ThemeMap"
            />
        <activity
            android:name=".SettingsActivity"
            android:theme="@style/ThemeSettings"
            />
        <activity
            android:name=".GalleryActivity">
            android:theme="@style/ThemeGallery"
        </activity>
        <activity
            android:name=".TestActivity">
            android:theme="@style/ThemeGallery"
        </activity>
    </application>
    <uses-permission android:name="android.permission.INTERNET" />
</manifest>